
.file
{
  background-image: url("../../public/foodwaste4.jpg");
  /* background-size: cover; */
}

.history
{
  background-image: url("../../public/foodwaste22.jfif");
  background-size: cover;
}

.vieworphan
{
  background-image: url("../../public/foodwaste2.png");
  background-size: cover;
}

.viewfood
{
  background-image: url("../../public/foodwaste4.jpg");
  background-size: cover;
}

.viewfood4
{
  background-image: url("../../public/foodwaste5.jpg");
  background-size: cover;
}

.viewTransport3
{
  background-image: url("../../public/foodwaste6.jpg");
  background-size: cover;
}

.viewprofile3
{
  background-image: url("../../public/foodwaste7.jpg");
  background-size: cover;
}

.viewfood3
{
  background-image: url("../../public/foodwaste8.jpg");
  background-size: cover;
}

.viewtransport2
{
  background-image: url("../../public/foodwaste9.jpg");
  background-size: cover;
}

.sendfeedback
{
  background-image: url("../../public/foodwaste3.jpg");
  background-size: cover;
}

.addtransport
{
  background-image: url("../../public/foodwaste11.jpeg");
  background-size: cover;
}

.viewtransport
{
  background-image: url("../../public/foodwaste12.jpg");
  background-size: cover;
}

.addfood
{
  background-image: url("../../public/foodwaste13.jpg");
  background-size: cover;
}

.viewprofile
{
  background-image: url("../../public/foodwaste14.png");
  background-size: cover;
}

.viewfood2
{
  background-image: url("../../public/foodwaste15.jpg");
  background-size: cover;
}

.distribution
{
  background-image: url("../../public/foodwaste16.jpeg");
  background-size: cover;
}

.viewresponse
{
  background-image: url("../../public/foodwaste17.jpg");
  background-size: cover;
}

.viewfeedback
{
  background-image: url("../../public/foodwaste18.webp");
  background-size: cover;
}

.register
{
  background-image: url("../../public/foodwaste23.jfif");
  background-size: cover;
}

.login
{
  background-image: url("../../public/foodwaste23.jfif");
  background-size: cover;
}